<div class="row">
    <div class="col-xs-12 col-md-12">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <ul class="nav navbar-nav" routerLinkActive="active" >
            <li class="nav-item">
              <a class="nav-link" routerLink="/home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/home/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/home/documentation">Documentation</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/home/help">Help</a>
            </li>
          </ul>
      </nav>
    </div>
  </div>
  <router-outlet></router-outlet>