<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-9">
        <h1>OctoCert</h1>
    </div>
    <div class="col-xs-6 col-md-3">
        <br>
        <button type="button" class="btn btn-md btn-primary" data-toggle="modal" data-target="#loginModal" (click)="showModal()">Login</button>
    </div>
  </div> 
  <br>
  
</div>
<router-outlet></router-outlet>