
<nav class="navbar navbar-expand-lg navbar-light bg-light">
<div class="container">
  <ul class="nav navbar-nav" routerLinkActive="active" >
    <li class="nav-item">
      <a class="nav-link" routerLink="institution">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="">Department</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="">Professors</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="">Courses</a>
    </li>
  </ul>
</div>
</nav>
<router-outlet></router-outlet>
<p>
  institution works!
</p>
